<br />
<!-- <legend>Please cite the following paper:</legend>
<div class="info lead mt-5">
  <p>
    Sizhen Li, Ning Dai, He Zhang, Apoorv Malik, David H. Mathews, and Liang Huang.
    <a href="{{ url_for('show_linearsankoff_pdf') }}"
      ><strong>LinearSankoff</strong>: Linear-time Simultaneous Folding and Alignment of RNA Homologs.</a
    >
  </p>
  <p><strong>GitHub</strong> Repository: <a href="https://github.com/LinearFold/LinearSankoff">https://github.com/LinearFold/LinearSankoff</a></p> -->
  <p>Web Demo implemented by: Apoorv Malik <a href="mailto:malikap@oregonstate.edu">(malikap@oregonstate.edu)</a></p>
</div>
