<!DOCTYPE HTML>

<html>
    <head>
      <title>LinearFold Web Server (beta)</title>
        <!--
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
        -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="/css/cerulean_bootstrap.css">
      <link rel="stylesheet" href="/css/cerulean_custom.min.css">
      <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/interface_with_boots.css">
    </head>

    <body class style>
      <!-- <div id="pageTitle" class="bg-primary">LinearDesign网页服务器(beta)  -->
      <!-- <div id="pageTitle" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">LinearDesign网页服务器(beta)  -->
      <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
          <div class="container">
            <!-- <span id="pageTitle" class="navbar-brand">LinearDesign网页服务器(beta) </span> -->
            <a href="{{ url_for(request.endpoint|replace('showRes','my_form')|replace('_preset','')) }}" id="pageTitle" class="navbar-brand">LinearTurboFold Web Server(beta)</a>
             <div class="nav-right">
                 <a href="{{ url_for('my_form_old') }}">LinearFold</a> &nbsp&nbsp&nbsp
                 <a href="{{ url_for('my_form_LP') }}">LinearPartition</a> &nbsp&nbsp&nbsp
                 <a href="{{ url_for('my_form_LS_v') }}">LinearSampling</a>
                 &nbsp&nbsp&nbsp<a href="{{ url_for('my_form_LTF') }}" class="nav-act">LinearTurboFold</a>
             </div>
          </div>
      </div>

      {% if 'cn' in request.endpoint %}
        <p id='pageLang' hidden>cn</p>
      {% else %}
        <p id='pageLang' hidden>en</p>
      {% endif %}

      {% if 'LD' in request.endpoint %}
        <p id='pageProj' hidden>design</p>
      {% elif 'LV' in request.endpoint %}
        <p id='pageProj' hidden>fold</p>
      {% else %}
        <p id='pageProj' hidden>partition</p>
      {% endif %}


      {% block content %}
          <!-- <div class="container"> -->
      {% endblock %}


    </body>
</html>
