{% extends "header.html" %} {% block content %}

<fieldset class="bigfield">
  <form method="POST" class="userSeq" enctype="multipart/form-data">
    <fieldset>
      <legend>Add a sequence</legend>
      <b>Paste</b> or <b>type</b> your sequence here (length &lt; 100,000): <br />

      <div class="form-group">
        <textarea class="form-control" name="seqInput" id="seqInput" rows="5" cols="80">
name&#x0a;GCUCUGUUGGUGUAGUCCGGCCAAUCAUAUCACCCUCU
        </textarea>
      </div>

      <div class="dropdown mt-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Samples</button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" type="button" onclick="sampleInput(0)">
              Sample1: tRNA_tdbR00000566-Homo_sapiens-9606-Tyr-9PA (len:76)
            </button>
          </li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(1)">Sample2: SRP_Oryz.sati._AC079888 (len:311)</button></li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(2)">Sample3: 16S rRNA_A.pyrophilus (len:1564)</button></li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(3)">Sample4: 23S rRNA_T.thermophilus (len:2915)</button></li>
        </ul>
      </div>

      <div class="mt-2 mb-4">
        <label for="formFile" class="form-label">Or <b>upload</b> a file in FASTA format </label>
        <input class="form-control w-25" type="file" name="seqFile" id="seqFile" accept=".txt, .fasta" />
      </div>
    </fieldset>
    <!--
                  <fieldset>
                    <legend><I>Set beam size</I></legend>
		    <b>Beam size</b> (1-200):
		    <input type="text" name="beamSize" id='beamSize' placeholder="100" maxlength="3" size="10" ><br>
                  </fieldset> <br>
                  -->

    <fieldset>
      <legend>Available model(s)</legend>
      <input type="checkbox" id="cfbox" name="cfbox" value="cfbox" checked />
      <label for="cfbox"
        ><b>LinearPartition-C</b> (using <a href="http://contra.stanford.edu/contrafold/" target="_blank">CONTRAfold v2.0</a> machine-learned model,
        Do et al 2006)</label
      ><br />

      <input type="checkbox" id="vnbox" name="vnbox" value="vnbox" checked disabled />
      <label for="vnbox"
        ><b>LinearPartition-V</b> (using <a href="https://www.tbi.univie.ac.at/RNA/" target="_blank">Vienna RNAfold</a> thermodynamic model, Lorenz et
        al 2011, with parameters from Mathews et al 2004)</label
      >
    </fieldset>
    <br />

    <input type="submit" value="Run LinearPartition" class="btn btn-primary" onclick="loading()" />
    <input type="reset" value="Reset" class="btn btn-secondary" />
  </form>
  <div id="loadingIMG" style="display: none">
    <img src="https://raw.githubusercontent.com/KaiboLiu/PairingWebDemo/master/img/loading1.gif" alt="Loading..." height="160" />
  </div>
</fieldset>
{% endblock %}
<!--
            <fieldset class="bigfield">
                <legend>Preset demo</legend>
		<p>Example demos for <span class="coloredSeq">16S rRNA</span>/<span class="coloredSeq">23S rRNA</span>/<span class="coloredSeq">Group I Intron</span> are available, compared with <a href="http://contra.stanford.edu/contrafold/" target="_blank">CONTRAfold v2.0</a> and <a href="https://www.tbi.univie.ac.at/RNA/" target="_blank">Vienna RNAfold</a> algorithms. </p>
		<a href="http://linearfold.eecs.oregonstate.edu/preset.html"><button type="button" id="jumpBtn">Go to demos >> </button></a>
            </fieldset>
            -->

{% block info %}
<br />
<div id="bottomInfo" style="font-size: 19px">
  <div id="LiangGroup">
    <p></p>
    <p>Please cite the following paper:</p>
    <div style="font-size: 19px">
      He Zhang, Liang Zhang, David H. Mathews and Liang Huang(2019).
      <b
        ><a href="https://arxiv.org/pdf/1912.13190.pdf" target="_blank"
          >LinearPartition: Linear-Time Approximation of RNA Folding Partition Function and Base Pairing Probabilities</a
        ></b
      >. <i>arXiv Preprint</i>
    </div>

    <div>
      Code: <a href="https://github.com/LinearFold/LinearPartition" class="fa fa-github" target="_blank" style="text-decoration: none"> github</a>
      <!--(implemented by <b><a href="https://eecs.oregonstate.edu/people/Zhang-He" target="_blank">He Zhang</a></b>, and <b><a href="http://web.engr.oregonstate.edu/~huanlian/" target="_blank">Liang Huang</a></b>) -->
    </div>
    <!--<div style="font-size:14px">-->
    <!--
             <div>Web Demo designed by <b><a href="https://kaiboliu.github.io" target="_blank">Kaibo Liu</a></b> (liukaib_AT_oregonstate.edu)</div>
             -->
    <!--
             <div style="font-size:14px">* Dezhong Deng, Kai Zhao, David Hendrix, David H. Mathews, and Liang Huang (2018). <I>Linear-Time Prediction of RNA Secondary Structures</I>. <a href="https://www.biorxiv.org/content/early/2018/02/14/263509" target="_blank">bioRxiv</a>.</div>
             -->
  </div>
</div>
{% endblock %}
