<!DOCTYPE html>

{% extends "header.html" %} {% block content %}

<fieldset class="bigfield">
  <form method="POST" class="userSeq" enctype="multipart/form-data">
    <fieldset>
      <legend>Add a sequence</legend>
      <b>Paste</b> or <b>type</b> your sequence here (length &lt; 100,000): <br />
      <div class="form-group">
        <textarea class="form-control" name="seqInput" id="seqInput" rows="5" cols="80">
name&#x0a;GCUCUGUUGGUGUAGUCCGGCCAAUCAUAUCACCCUCU
        </textarea>
      </div>

      <div class="dropdown mt-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Samples</button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" onclick="sampleInput(0)">Sample1 (len: 76)</button></li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(1)">Sample2 (len: 311)</button></li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(2)">Sample3 (len: 1564)</button></li>
          <li><button class="dropdown-item" type="button" onclick="sampleInput(3)">Sample4 (len: 2915)</button></li>
        </ul>
      </div>

      <div class="mt-2 mb-4">
        <label for="SeqFile" class="form-label">Or <b>upload</b> a file in FASTA format </label>
        <input class="form-control w-75" type="file" name="SeqFile" id="SeqFile" accept=".txt, .fasta" />
      </div>
    </fieldset>

    <fieldset>
      <legend>Arguments</legend>
      <div class="form-group">
        <label for="beamSize"><b>Beam size</b> (1-200):</label>
        <input class="form-control w-25" type="text" name="beamSize" id="beamSize" placeholder="100" maxlength="3" size="10" />
      </div>

      <div class="form-group mt-2">
        <label for="sampleSize"><b>Sample size</b> (1-1000):</label>
        <input class="form-control w-25" type="text" name="sampleSize" id="sampleSize" placeholder="1000" maxlength="4" size="10" />
      </div>
    </fieldset>
    <br />

    <fieldset>
      <legend>Available model</legend>

      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="vnbox" name="vnbox" value="vnbox" checked disabled />
        <label class="form-check-label" for="vnbox"
          ><b>LinearSampling-V</b> (using
          <a href="https://www.tbi.univie.ac.at/RNA/" target="_blank">Vienna RNAfold</a>
          thermodynamic model, Lorenz et al 2011, with parameters from Mathews et al 2004)</label
        >
      </div>
    </fieldset>
    <br />

    <input type="submit" class="btn btn-primary" value="Run LinearSampling" onclick="loading()" />
    <input type="reset" class="btn btn-secondary" value="Reset" />
  </form>
</fieldset>

{% endblock %}
