{% extends "header.html" %} {% block content %}

<!-- LTF Specific dependencies -->
<link rel="stylesheet" href="/css/showCircle_with_boots.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- End LTF Specific dependencies -->

<div class="result-page"></div>

<div>
  <h4 id="resultTitle">LinearTurboFold Results</h4>
  Start &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; End
  <br />
  <input type="text" id="typePos1" name="typePos1" size="5" />
  <input type="text" id="typePos2" name="typePos2" size="5" />
  <button type="button" class="btn btn-primary btn-sm" onclick="applyRange25()">Apply Range</button>
  <button type="button" class="btn btn-primary btn-sm" onclick="resetFunction()">Reset</button>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(To use Apply Range, enter a starting and ending position within 1,000 nucleotides)
  <br />
  <p id="rangeNotice" class="text-primary"></p>
  Select Sequences below
  <br />
  <!-- Evan Dropdown Menu-->
  <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <div class="container" id="seqOptions">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <select
            class="selectpicker"
            id="seqSelect"
            multiple
            data-width="fit"
            data-actions-box="true"
            title="Choose one or more sequences"
            data-container=".container"
          >
            <optgroup label="SARS-CoV-2">
              <option value="0" data-subtext=">NC_045512.2_Wuhan_seafood_market_pneumonia_virus_isolate_Wuhan-Hu-1__complete_genome:">
                NC_045512.2
              </option>
              <option value="1" data-subtext=">hCoV-19_Sweden_20-53189_2020_EPI_ISL_648168_2020-10-13_Europe:">EPI_ISL_648168</option>
              <option value="2" data-subtext=">hCoV-19_Sweden_20-53470_2020_EPI_ISL_710589_2020-11-19_Europe:">EPI_ISL_710589</option>
              <option value="3" data-subtext=">hCoV-19_England_MILK-B3D791_2020_EPI_ISL_704698_2020-11-01_Europe:">EPI_ISL_704698</option>
              <option value="4" data-subtext=">hCoV-19_Scotland_QEUH-A77C42_2020_EPI_ISL_638950_2020-10-14_Europe:">EPI_ISL_638950</option>
              <option value="5" data-subtext=">hCoV-19_England_ALDP-9D8D3E_2020_EPI_ISL_576666_2020-09-18_Europe:">EPI_ISL_576666</option>
              <option value="6" data-subtext=">hCoV-19_England_ALDP-B5E5FA_2020_EPI_ISL_723671_2020-11-08_Europe:">EPI_ISL_723671</option>
              <option value="7" data-subtext=">hCoV-19_Sweden_20-09856_2020_EPI_ISL_654499_2020-10-20_Europe:">EPI_ISL_654499</option>
              <option value="8" data-subtext=">hCoV-19_England_QEUH-A61A50_2020_EPI_ISL_706936_2020-10-13_Europe:">EPI_ISL_706936</option>
              <option value="9" data-subtext=">hCoV-19_England_CAMC-B7B1B7_2020_EPI_ISL_723990_2020-11-12_Europe:">EPI_ISL_723990</option>
              <option value="10" data-subtext=">hCoV-19_England_CAMC-9C1B01_2020_EPI_ISL_573220_2020-09-09_Europe:">EPI_ISL_573220</option>
              <option value="11" data-subtext=">hCoV-19_Latvia_187_2020_EPI_ISL_639684_2020-10-03_Europe:">EPI_ISL_639684</option>
              <option value="12" data-subtext=">hCoV-19_Wuhan_HB-WHCM-114_2020_EPI_ISL_454994_2020-03-02_Asia:">EPI_ISL_454994</option>
              <option value="13" data-subtext=">hCoV-19_USA_CA-ALSR-4490_2020_EPI_ISL_666966_2020-10-30_NorUhAmerica:">EPI_ISL_666966</option>
              <option value="14" data-subtext=">hCoV-19_England_ALDP-9B601F_2020_EPI_ISL_572982_2020-08-28_Europe:">EPI_ISL_572982</option>
              <option value="15" data-subtext=">hCoV-19_England_CAMC-9C01A6_2020_EPI_ISL_573173_2020-09-08_Europe:">EPI_ISL_573173</option>
            </optgroup>
            <optgroup label="SARS-CoV-1">
              <option value="16" data-subtext=">NC_004718.3 SARS coronavirus Tor2, complete genome:">NC_004718.3</option>
              <option value="17" data-subtext=">GU553363.1_SARS_coronavirus_HKU-39849_isolate_TCVSP-HARROD-00001__complete_genome:">
                GU553363.1
              </option>
              <option value="18" data-subtext=">AY515512.1_SARS_coronavirus_HC_SZ_61_03__complete_genome:">AY515512.1</option>
              <option value="19" data-subtext=">AY297028.1_SARS_coronavirus_ZJ01__complete_genome:">AY297028.1</option>
              <option value="20" data-subtext=">DQ182595.1_SARS_coronavirus_ZJ0301_from_China__complete_genome:">DQ182595.1</option>
            </optgroup>
            <optgroup label="BAT-CoV">
              <option value="21" data-subtext=">MG772934.1_Bat_SARS-like_coronavirus_isolate_bat-SL-CoVZXC21__complete_genome:">MG772934.1</option>
              <option value="22" data-subtext=">DQ022305.2_Bat_SARS_coronavirus_HKU3-1__complete_genome:">DQ022305.2</option>
              <option value="23" data-subtext=">DQ648857.1_Bat_coronavirus_(BtCoV_279_2005)__complete_genome:">DQ648857.1</option>
              <option value="24" data-subtext=">BetaCoV_bat_Yunnan_RatG13_2013_EPI_ISL_402131:">EPI_ISL_402131</option>
            </optgroup>
          </select>
        </div>
      </div>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <br />
    </div>
  </div>

  <p><span id="res-show" class="res" style="color: black; display: inline-block"></span></p>

  <!-- Back to top button -->
  <a id="return-to-top"></a>
</div>

<div id="tooltipbox" class="tooltipbox"></div>
<p id="path" hidden>{{pairingRes}}</p>
<p id="inputSeqType" hidden>{{seqType}}</p>
<p id="username" hidden>{{username}}</p>
<p id="jobname" hidden>{{jobname}}</p>

<!-- <script src="/js/demo_tooltips.js"></script>
<script src="/js/showDesign_cn.js"></script> -->

<!-- Force The Browser To Reload Cached .JS, .CSS Files To Reflect The Latest Changes To Those Files -->
<script type="text/javascript" type="module" language="javascript">
  var versionUpdate = new Date().getTime();
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "/js/demo_tooltips_ltf.js?v=" + versionUpdate;
  document.body.appendChild(script);

  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "/js/showLTF_preset.js?v=" + versionUpdate;
  document.body.appendChild(script);
</script>
{% endblock %}
