<!DOCTYPE html>

<html>
  <head>
    <title>LinearFold Web Server (beta)</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://d3js.org/d3.v6.min.js"></script>
  </head>
  <!-- Force The Browser To Reload Cached .JS, .CSS Files To Reflect The Latest Changes To Those     Files -->
  <script type="text/javascript" language="javascript">
    var versionUpdate = new Date().getTime();
    var csslink = document.createElement("link");
    csslink.rel = "stylesheet";
    csslink.type = "text/css";
    csslink.href = "/css/interface.css?v=" + versionUpdate;
    document.head.appendChild(csslink);
  </script>

  <body>
    <div id="pageTitle">
      LinearSankoff Web Server (beta)
      <div class="nav-right">
        <a href="{{ url_for('my_form_old') }}">LinearFold</a> &nbsp&nbsp&nbsp
        <a href="{{ url_for('my_form_LP') }}">LinearPartition</a>
        &nbsp&nbsp&nbsp
        <a href="{{ url_for('my_form_LS_v') }}">LinearSampling</a>
        &nbsp&nbsp&nbsp<a href="{{ url_for('my_form_LTF') }}"
          >LinearTurboFold</a
        >
        &nbsp&nbsp&nbsp<a href="{{ url_for('my_form_LS') }}" class="nav-act"
          >LinearSankoff</a
        >
      </div>
    </div>

    <br />

    <!-- create a toggle bar to toggle between two divs -->
    <input type="checkbox" name="PlotSelector" id="toggler" checked />
    <label for="PlotSelector"> Interactive Plot</label><br /><br />

    <div id="image">
      <img
        src="data:image/png;base64, {{ data['plot'] }}"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 75%;
        "
      />
    </div>
    <div id="figure"></div>

    <br />

    <div>
      <div class="res" style="font-family: monospace; letter-spacing: 1pt">
        <h2 style="color: #3bbee2">
          Result:
          <button onclick="copyOutput('result')">Copy to Clipboard</button>
        </h2>
        {% for line in data["alignment_result"] %}
        <p id="result" style="margin: 0px; padding: 0px">{{line}}</p>
        {% endfor %}
      </div>

      <p>
        Sequence 1 Folding Score: {{data["sequence 1 folding score"]}} kcal/mol
      </p>
      <p>
        Sequence 2 Folding Score: {{data["sequence 2 folding score"]}} kcal/mol
      </p>
      <p>Probability of Alignment Path: {{data["probability"]}}</p>
      <p>Time: {{data["time"]}} seconds</p>

      <br />
      <button
        style="font-size: large; background-color: #3bbee2; color: white"
        onclick="downloadResult()"
      >
        Download Results
      </button>
    </div>

    <script src="/js/jquery.min.js"></script>

    <!-- Force The Browser To Reload Cached .JS, .CSS Files To Reflect The Latest Changes To Those Files -->
    <script type="text/javascript" language="javascript">
      var versionUpdate = new Date().getTime();
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "/js/interface.js?v=" + versionUpdate;
      document.body.appendChild(script);
    </script>
    <script src="js/linear_sankoff.js"></script>

    <script type="text/javascript">
      generateInteractivePlot(
        "{{ data['alignment 1'] }}",
        {{ data['pairs1'] }},
        "{{ data['alignment 2'] }}",
        {{ data['pairs2'] }},
        );

        setPlotsView();
    </script>
  </body>
</html>
