<!DOCTYPE html>
{% extends "header.html" %} {% block content %}

<!-- css -->
<link rel="stylesheet" href="/css/showCircle.css" />

<div class="result-page"></div>

<!-- back button, redirects to linear partition page -->
<button type="button" class="btn btn-secondary mb-2 back-button" onclick="window.location.href = '{{ url_for('my_form_LP') }}'">
  ◄&nbsp&nbspBack to interface
</button>
<p>Sequence name: <span id="nameEcho" style="color: red; font-size: 120%"></span></p>
<p>
  Beam Size: <span id="beamEcho" style="color: red; font-size: 120%"></span> &nbsp;&nbsp;&nbsp;
  <br />
  LinearPartition-C:&nbsp;&nbsp;&nbsp; Partition Function:
  <span id="timeLCEcho" style="color: red; font-size: 100%">Not given</span>s&nbsp;&nbsp;&nbsp; Base Pairing Probabilities:
  <span id="time2LCEcho" style="color: red; font-size: 100%">Not given</span>s&nbsp;&nbsp;&nbsp;
  <br />
  LinearPartition-V:&nbsp;&nbsp;&nbsp; Partition Function:
  <span id="timeLVEcho" style="color: red; font-size: 100%">Not given</span>s&nbsp;&nbsp;&nbsp; Base Pairing Probabilities:
  <span id="time2LVEcho" style="color: red; font-size: 100%">Not given</span>s&nbsp;&nbsp;&nbsp;
  <!--LinearFold-C: <span id="timeLCEcho" style="color:red;font-size:100%;">Not given</span>s-->
  <!--&nbsp;&nbsp;&nbsp;Total time: <span style="color:red;font-size:100%;">{{total_time}}</span>s-->
</p>

<svg version="1.1" id="mySVG" width="1700" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!--<svg id="mySVG" viewBox="0 0 500 1200"  xmlns="http://www.w3.org/2000/svg">-->
  Your browser doesn't support svg tag.
</svg>
<svg version="1.1" id="mySVG_MEA" width="1700" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  Your browser doesn't support svg tag.
</svg>

<p hidden>
  <span id="fornaInfo"></span>
  <button id="dispFornaToggle" onclick="dispForna()">Show</button>
  <br />
  <a id="fornalink2" class="jumpLink" href="" target="_blank"></a>
  &nbsp;&nbsp;
  <a hidden id="fornalink1" class="jumpLink" href="" target="_blank"></a>
</p>

<div id="forna" style="display: none">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <!--
<iframe id='forna1' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>&nbsp;&nbsp;
<iframe id='forna2' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>
-->
  <iframe id="forna2" src="about:blank" height="500" width="600"></iframe> &nbsp;&nbsp;
  <iframe hidden id="forna1" src="about:blank" height="500" width="600"></iframe>
</div>

<p>
  <span id="seq0"></span><button id="btn_copy_seq" class="btn btn-sm btn-secondary" onclick="cp_seq()"></button><br />
  <span id="seq" class="res" style="display: none"></span>
  <span id="seq-show" class="res" style="display: inline-block"></span>
</p>
<p>
  <span id="lcf0"></span><button id="btn_copy_lcf" class="btn btn-sm btn-secondary" onclick="cp_lcf()"></button><br />
  <span id="lcf" class="res" style="display: none"></span>
  <span id="lcf-show" class="res" style="display: inline-block"></span>
</p>
<p>
  <span id="lvn0"></span><button id="btn_copy_lvn" class="btn btn-sm btn-secondary" onclick="cp_lvn()"></button><br />
  <span id="lvn" class="res" style="display: none"></span>
  <span id="lvn-show" class="res" style="display: inline-block"></span>
</p>

<div class="tooltipbox"></div>
<p id="path" hidden>{{pairingRes}}</p>

<!-- scripts -->
<script src="/js/demo_tooltips.js"></script>
<script src="/js/showCircle_linearpartition2.js"></script>

{% endblock %}
