<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>LinearFold Web Server (beta)</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- JavaScript Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i"> -->
                <script type="text/javascript" language="javascript">
                  var versionUpdate = (new Date()).getTime();
                  var csslink = document.createElement("link");
                  csslink.rel = "stylesheet";
                  csslink.type = "text/css";
                  csslink.href = "/css/showCircle.css?v=" + versionUpdate;
                  document.head.appendChild(csslink);
                </script>
</head>

<body>
<div id="pageTitle">LinearSampling Web Server (beta)
    <div class="nav-right">
        <a href="{{ url_for('my_form_old') }}">LinearFold</a> &nbsp&nbsp&nbsp
        <a href="{{ url_for('my_form_LP') }}">LinearPartition</a> &nbsp&nbsp&nbsp
        <a href="{{ url_for('my_form_LS_v') }}" class="nav-act">LinearSampling</a>
        &nbsp&nbsp&nbsp<a href="{{ url_for('my_form_LTF') }}">LinearTurboFold</a>
        &nbsp&nbsp&nbsp<a href="{{ url_for('my_form_LS') }}">LinearSankoff</a>
    </div>
</div>
<!--
<a class="jumpLink" href="http://linearfold.eecs.oregonstate.edu:8080" style="font-size:130%;"> &nbsp; back to homepage&nbsp; </a>
-->
<a class="btn-back" href="{{ url_for('my_form_LS_v') }}">
  <span> &nbsp; back to homepage &nbsp;</span>
</a><br><br>
<p>Sequence name: <span id="nameEcho" style="color:red;font-size:120%;"></span></p>
<p>Beam Size: <span id="beamEcho" style="color:red;font-size:120%;"></span> &nbsp;&nbsp;&nbsp;
   Free Energy of Ensemble: <span id="energyEcho" style="color:red;font-size:120%;">Not given</span>kcal/mol&nbsp;&nbsp;&nbsp;
   Time: <span id="timeLVEcho" style="color:red;font-size:120%;">Not given</span>s&nbsp;&nbsp;&nbsp;
   <!--LinearFold-C: <span id="timeLCEcho" style="color:red;font-size:100%;">Not given</span>s-->
   <!--&nbsp;&nbsp;&nbsp;Total time: <span style="color:red;font-size:100%;">{{total_time}}</span>s-->
</p>
<p>
    <span style="color:#3bbee2;" id='dlFileTitle'>Download file: </span>
    <a href="{{ url_for('downloadLSRes', name=pairingRes) }}"><button class="btn btn-primary btn-sm" id='dlBtnTitle1'>LinearSampling (1000)</button></a>
</p>

<!-- Back to top button -->
<a id="return-to-top"></a>


<div id='setCol'></div><br>
<!-- <div class="container" id="svg_block"> -->
<div id="svg_block">
</div>

<p hidden>
  <span id='fornaInfo'></span>
  <button id="dispFornaToggle" onclick="dispForna()">Show</button>
  <br>
  <a id='fornalink2' class="jumpLink" href="" target="_blank"></a>
  &nbsp;&nbsp;
  <a hidden id='fornalink1' class="jumpLink" href="" target="_blank"></a>
</p>


<div id='forna' style="display:none"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--
<iframe id='forna1' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>&nbsp;&nbsp;
<iframe id='forna2' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>
-->
<iframe id='forna2' src="about:blank" height="500" width="600"></iframe> &nbsp;&nbsp;
<iframe hidden id='forna1' src="about:blank" height="500" width="600"></iframe>
</div>

<br><br>
<p hidden>
    <span style="color:#3bbee2;" id='dlFileTitle'>Download result file{{dld_cmt}}</span> &nbsp;&nbsp;
    <a href="{{ url_for('downloadRes', name=pairingRes, cv='v') }}"><button class="btn btn-primary btn-sm" id='dlBtnTitle'>LinearFold-V</button></a>
</p>


<p><span id="seq0" style="color:#3bbee2;"></span><button id="btn_copy_seq" onclick="cp_seq()"></button><br>
  <span id="seq" class="res" style="display:none"></span>
  <span id="seq-show" class="res" style="display: inline-block;"></span> </p>
<p><span id="lvn0" style="color:#3bbee2;"></span><button id="btn_copy_lvn" onclick="cp_lvn()"></button><br>
  <span id="lvn" class="res" style="display:none"></span>
  <span id="lvn-show" class="res" style="display: inline-block;"></span>
  <div id="lvn-copy-area-addon"></div> </p>
<p hidden><span id="lcf0" style="color:#3bbee2;"></span><button id="btn_copy_lcn" onclick="cp_lcn()"></button><br>
  <span id="lcf" class="res" style="display:none"></span>
  <span id="lcf-show" class="res" style="display: inline-block;"></span> </p>


<div class="tooltipbox"></div>
<p id='path' hidden>{{pairingRes}}</p>
<p id='samplesize' hidden>{{samplesize}}</p>

      <script src="/js/demo_tooltips.js"></script>

      <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getTime();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/js/showCircle_linearsampling_v.js?v=" + versionUpdate;
        document.body.appendChild(script);
      </script>

</body>
</html>
