<!DOCTYPE html>

{% extends "header.html" %} {% block content %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

<form method="POST" class="userSeq" enctype="multipart/form-data">
  <fieldset>
    <legend>Add a pair of sequences</legend>
    <b>Paste</b> or <b>type</b> your pair of sequences here (length &lt; 100,000):
    <br />
    <div class="form-group">
      <textarea class="form-control" name="seqInput" id="seqInput" rows="5" cols="80">
>B00650 118
GCCUGGUGGCUAUGGCGAGGAGGCCUAACCCGAUCCCAUCCCGAACUCGGCCGUUAAACUCCUCAGUGCCGAUGGUACUAUGUCUUAAGACCUGGGAGAGUAGGUCGUCGCCAGGCCU
>B01704 115
CCUGGCGGCGAUAGUGCGGUGGACCCACCUGAGACCAUACCGAACUCAGAAGUGAAACGCUGUAAUGCCGAUGGUAGUGUGGGGUUUCCCCAUGUGAGAGUAGGGCACCGCCGGG
      </textarea>
    </div>
  </fieldset>
  <div class="dropdown mt-1">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Samples</button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" type="button" onclick="loadLinearSankoffSample(0)">Sample 1 (tRNA, domain insertion)</button>
      </li>
      <li>
        <button class="dropdown-item" type="button" onclick="loadLinearSankoffSample(1)">Sample 2</button>
      </li>
      <li>
        <button class="dropdown-item" type="button" onclick="loadLinearSankoffSample(2)">Sample 3</button>
      </li>
      <li>
        <button class="dropdown-item" type="button" onclick="loadLinearSankoffSample(3)">Sample 4</button>
      </li>
    </ul>
  </div>

  <div class="mt-2 mb-4">
    <label for="SeqFile" class="form-label">Or <b>upload</b> a file in FASTA format </label>
    <input class="form-control w-75" type="file" name="SeqFile" id="SeqFile" accept=".txt, .fasta" />
  </div>

  <fieldset>
    <legend>Arguments</legend>
    <div class="form-group">
      <label for="w"><b>λ</b> (weight on alignment: 0.0 - 1.0)</label>
      <input class="form-control w-25" type="text" name="w" id="w" placeholder="0.3" value="0.3" maxlength="5" size="10" />
    </div>

    <div class="form-group mt-2">
      <label for="beamSize-b"><b>Beam Size</b> (LinearSankoff: 1 - 100)</label>
      <input class="form-control w-25" type="text" name="b" id="beamSize-b" placeholder="100" value="100" maxlength="3" size="10" />
    </div>

    <div class="form-group mt-2">
      <label for="beamSize-LFb"><b>Beam Size</b> (LinearFold: 1 - 100)</label>
      <input class="form-control w-25" type="text" name="LFb" id="beamSize-LFb" placeholder="100" value="100" maxlength="3" size="1" />
    </div>
    <div class="form-group mt-2">
      <label for="energyDiff"> <b>Maximum Energy Difference from Single-Sequence MFE</b> (0 - 1)</label>
      <input class="form-control w-25" type="text" name="energyDiff" id="energyDiff" placeholder="0.3" value="0.3" maxlength="5" size="10" />
    </div>

    <div class="form-group mt-2">
      <label for="beamSize-LAb"><b>Beam Size</b> (LinearAlignment: 1 - 100)</label>
      <input class="form-control w-25" type="text" name="LAb" id="beamSize-LAb" placeholder="100" value="100" maxlength="3" size="10" />
    </div>

    <div class="form-group mt-2 mb-2">
      <label for="bandwidth"> <b>Alignment Band Width</b> (0-100: 0 uses posterior probabilistic alignment region) </label>
      <input class="form-control w-25" type="text" name="LAw" id="bandwidth" placeholder="0" value="0" maxlength="3" size="10" />
      <div class="invalid-feedback">Please choose a username.</div>
    </div>

    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" id="astar" name="astar" value="astar" checked />
      <label class="form-check-label" for="astar"><b>Use A*</b></label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="branch" name="branch" value="branch" checked />
      <label class="form-check-label" for="branch"><b>Domain Insertion</b></label>
    </div>
  </fieldset>
  <br />

  <input type="submit" class="btn btn-primary" value="Run LinearSankoff" onclick="loading()" />
  <input type="reset" class="btn btn-secondary" value="Reset" />
</form>

<script>
  // Get references to the input elements
  const weightInput = document.getElementById("w");
  const linearSankoffInput = document.getElementById("beamSize-b");
  const linearFoldInput = document.getElementById("beamSize-LFb");
  const energyDiffInput = document.getElementById("energyDiff");
  const linearAlignmentInput = document.getElementById("beamSize-LAb");
  const bandwidthInput = document.getElementById("bandwidth");

  // Add event listeners to validate the input values when the user submits the form
  document.querySelector("form").addEventListener("submit", function (event) {
    if (parseFloat(weightInput.value) < 0 || parseFloat(weightInput.value) > 1) {
      alert("The weight value must be between 0 and 1");
      event.preventDefault();
    }

    if (parseInt(linearSankoffInput.value) < 1 || parseInt(linearSankoffInput.value) > 100) {
      alert("The linear Sankoff beam size must be between 1 and 100");
      event.preventDefault();
    }

    if (parseInt(linearFoldInput.value) < 1 || parseInt(linearFoldInput.value) > 100) {
      alert("The linear fold beam size must be between 1 and 100");
      event.preventDefault();
    }

    if (parseFloat(energyDiffInput.value) < 0 || parseFloat(energyDiffInput.value) > 1) {
      alert("The maximum energy difference must be between 0 and 1");
      event.preventDefault();
    }

    if (parseInt(linearAlignmentInput.value) < 1 || parseInt(linearAlignmentInput.value) > 100) {
      alert("The linear alignment beam size must be between 1 and 100");
      event.preventDefault();
    }

    if (parseInt(bandwidthInput.value) < 0 || parseInt(bandwidthInput.value) > 100) {
      alert("The alignment bandwidth must be between 0 and 100");
      event.preventDefault();
    }
  });
</script>

{% endblock %} {% block info %} {% include 'linear-sankoff/info-template.html' %} {% endblock %}
